:root {
  --clr-text: white;
}

html {
  background-color: black;
  color: var(--clr-text);
}

h1 {font-size: 3rem;}
h2 {font-size: 2rem;}

input {
  border-radius: 10px;
  height: 3rem;
}

li {
  position: relative;
}

button {
  color: var(--clr-text);
  background-color: black;
  border-style: none;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin-inline: auto;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.d-relative {
  position: relative;
}
.dragging{
  opacity: 0.2;
}
.dragover {
  background-color: #158da9; /* Highlight background color */
  border: 2px solid #333; /* Highlight border */
}

.card {
  width: 150px;
  height: 150px;
  border: 2px solid;
  padding: 1rem;
  gap: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--clr-text);
}
.card img {
  width: 40%;
  height: auto;
}

.delete-btn {
  --size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  height: var(--size);
  width: var(--size);
  font-size: 1.5rem;
  border: 2px solid;
}

#addBtn {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  font-size: 3rem;
  border: 2px solid;
}

#inputForm {
  gap: 2rem;
  font-size: 1.5rem;

}